generate_tools_root: true
generate_postgres_files: true
generate_redis_files: true
generate_kafka_files: true
generate_mongodb_files: true

server_tools_root_dir: /root/tools
kafka_nodeport: 30094

ns_tools: tools

postgres_name: assets-db
postgres_db: assets_db
postgres_user: assets_u
postgres_password: Assets-667.766
postgres_service_port: 5440
postgres_nodeport: 30440
postgres_storage: 10Gi

redis_name: redis-assets
redis_service_port: 6390
redis_storage: 5Gi

mongodb_root_user: vllm
mongodb_root_password: vllmroot123987
mongodb_storage: 100Mi
mongodb_service_port: 27019
